<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gxq.mapper.DistributionMapper">

    <select id="selectOrgMachine" parameterType="MachineSearchModel" resultType="MachineModel">
        SELECT m.id,m.machine_name as name from machine m
        WHERE  FIND_IN_SET(m.org_id,getOrgChildren(#{orgId}))
        <if test="name!=null"> AND m.machine_name like #{name} </if>
    </select>

    <update id="updateState" parameterType="ChangeStateModel">
        UPDATE t_distribution SET state = #{state}
        WHERE u_id IN
        <foreach separator="," item="item" collection="list" close=")" open="(">
            #{item}
        </foreach>
        AND is_delete = 0
    </update>

    <insert id="insertDistribution" parameterType="DistributionModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_distribution (u_id,state,is_delete,start_time,end_time,create_one,create_time)
        VALUES(#{uid},1,0,#{startTime},#{endTime},#{createOne},SYSDATE())
    </insert>

    <insert id="insertDistribution_Records" parameterType="DistributionModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_distribution_records(f_id , r_id , p_id , state , create_one , create_time) SELECT
            #{id} ,
            r.id ,
            #{packageId} ,
            0 ,
            #{createOne},
            SYSDATE()
        FROM
            t_resource r ,
            t_package_resource pr
        WHERE
            pr.p_id = #{packageId}
        AND r.id = pr.r_id
    </insert>

    <select id="selectDistribution_Records" parameterType="SearchModel" resultMap="distributionRecordMap">
        SELECT
            r.*,o.name as device_org
            FROM
            (
                SELECT
                tdr.f_id ,
                tdr.p_id ,
                tdr.r_id ,
                m.org_id,
                tdr.state,
                tdr.create_time,
                aa.u_id AS device_id ,
                m.machine_name as device_name,
                tp. NAME AS package_name ,
                ts. NAME AS resource_name ,
                aa.end_time

                FROM
                (
                SELECT
                    td.id ,
                    td.u_id ,
                    td.end_time
                  FROM
                    t_distribution td
                  WHERE
                    td.state = 1
                    AND td.is_delete = 0
                  ) aa
                    LEFT JOIN t_distribution_records tdr ON aa.id = tdr.f_id
                    LEFT JOIN t_package tp ON tdr.p_id = tp.id
                    LEFT JOIN t_resource ts ON tdr.r_id = ts.id
                    LEFT JOIN machine m ON aa.u_id = m.id
            ) r,organization o
        WHERE
        1 = 1 AND o.id = r.org_id
        <if test="name!=null"> AND r.package_name LIKE #{name} OR r.resource_name LIKE #{name} </if>
        <if test="startTime!=null"><![CDATA[ AND r.create_time > #{startTime}]]> </if>
        <if test="endTime!=null"><![CDATA[ AND r.create_time < #{endTime}]]> </if>
    </select>

    <resultMap type="com.gxq.model.DistributionRecordModel" id="distributionRecordMap">
        <result property="fid" column="f_id"/>
        <result property="pid" column="p_id"/>
        <result property="rid" column="r_id"/>
        <result property="deviceId" column="device_id"/>
        <result property="deviceName" column="device_name"/>
        <result property="deviceOrg" column="device_org"/>
        <result property="packageName" column="package_name"/>
        <result property="resourceName" column="resource_name"/>
        <result property="endTime" column="end_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

</mapper>