<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gxq.mapper.OrgSettingMapper">

    <select id="selectByOrgId" parameterType="java.lang.Long" resultMap="orgSettingMap">
        SELECT * FROM t_org_setting WHERE org_id = #{orgId}
    </select>

    <select id="selectOrgAccountSetting" parameterType="OrgSettingSearchModel" resultMap="orgSettingMap">
        SELECT
            t.id AS org_id ,
            t.name AS org_name,
            t.wx_account ,
            t.ali_account
        FROM
            (
                SELECT
                    o.id ,
                    o.type ,
                    o.name ,
                    os.wx_account ,
                    os.ali_account,
                    CASE WHEN os.wx_account IS NOT NULL AND os.ali_account IS NOT NULL THEN '1' ELSE '0'
                            END AS is_setting
                FROM
                    organization o
                LEFT JOIN t_org_setting os ON o.id = os.org_id
            ) t
        WHERE
            FIND_IN_SET(t.id , getOrgChildren(#{orgId}))
            AND t.type = 1
            <if test="isSetting!=null">   AND t.is_setting = #{isSetting} </if>

    </select>

    <select id="selectOrgAccountSettingCount" parameterType="OrgSettingSearchModel">
        SELECT COUNT(1) FROM( SELECT o.id , o.type , CASE WHEN os.wx_account IS NOT NULL AND os.ali_account IS NOT NULL THEN '1' ELSE '0' END AS is_setting FROM organization o LEFT JOIN t_org_setting os ON o.id = os.org_id) t WHERE FIND_IN_SET( t.id , getOrgChildren( #{orgId})) AND t.type = 1 AND t.is_setting = '1'
    </select>

    <select id="selectOrgAccountSettingTotal" parameterType="OrgSettingSearchModel">
        SELECT COUNT(1) FROM( SELECT o.id , o.type , CASE WHEN os.wx_account IS NOT NULL AND os.ali_account IS NOT NULL THEN '1' ELSE '0' END AS is_setting FROM organization o LEFT JOIN t_org_setting os ON o.id = os.org_id) t WHERE FIND_IN_SET( t.id , getOrgChildren( #{orgId})) AND t.type = 1
    </select>

    <insert id="insert" parameterType="OrgSettingModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_org_setting(
            org_id ,
            wx_account ,
            ali_account ,
            period_type ,
            period_time ,
            create_one ,
            create_time
        )
        VALUES (
		    #{orgId},
		    #{wxAccount},
		    #{aliAccount},
		    #{periodType},
		    #{periodTime},
		    #{createOne},
		    SYSDATE()
		)
    </insert>

    <update id="update" parameterType="OrgSettingModel">
        UPDATE t_org_setting
        SET
        <if test="wxAccount!=null">  wx_account = #{wxAccount},   </if>
        <if test="aliAccount!=null"> ali_account = #{aliAccount}, </if>
        <if test="periodType!=null"> period_type = #{periodType}, </if>
        <if test="periodTime!=null"> period_time = #{periodTime}, </if>
        <if test="updateOne!=null">  update_one = #{updateOne},   </if>
        update_time = SYSDATE()
        WHERE org_id = #{orgId}
    </update>

    <insert id="insertHistory" parameterType="OrgSettingBatchModel">
        INSERT INTO t_org_setting_his(
            org_id ,
            wx_account ,
            ali_account ,
            period_type ,
            period_time ,
            is_history ,
            create_one ,
            create_time
        ) SELECT
            t.org_id ,
            t.wx_account ,
            t.ali_account ,
            t.period_type ,
            t.period_time ,
            0 ,
            t.create_one ,
            t.create_time
        FROM
            t_org_setting t
        WHERE
            t.org_id IN
        <foreach separator="," index="index" item="item" collection="list" close=")" open="(">
            #{item}
        </foreach>

    </insert>

    <update id="updateHistory" parameterType="OrgSettingBatchModel">
        UPDATE t_org_setting_his
        SET
        <if test="createOne!=null">  update_one = #{createOne},   </if>
        update_time = SYSDATE(),
        is_history = 1
        WHERE org_id IN
        <foreach separator="," index="index" item="item" collection="list" close=")" open="(">
            #{item}
        </foreach>

    </update>


    <resultMap type="com.gxq.model.OrgSettingModel" id="orgSettingMap">
        <id property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="wxAccount" column="wx_account"/>
        <result property="aliAccount" column="ali_account"/>
    </resultMap>

</mapper>