<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gxq.mapper.ResourceMapper">

    <insert id="insert" parameterType="ResourceModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_resource (name,title,type,address,state,time,note,is_delete,create_one,create_time)
        VALUES(#{name},#{title},#{type},#{address},#{state},#{time},#{note},0,#{createOne},SYSDATE())
    </insert>

    <update id="delete" parameterType="java.util.List">
        UPDATE t_resource SET is_delete = 1
        where id in
        <foreach separator="," index="index" item="item" collection="list" close=")" open="(">
            #{item}
        </foreach>
        AND state = 0
    </update>

    <update id="update" parameterType="ResourceModel">
        UPDATE t_resource
        SET <if test="name!=null"> name = #{name}, </if>
        <if test="title!=null">title = #{title}, </if>
        <if test="type!=null">type = #{type}, </if>
        <if test="address!=null">address = #{address}, </if>
        <if test="time!=null"> time = #{time}, </if>
        <if test="note!=null"> note = #{note}, </if>
        <if test="type!=null"> type = #{type}, </if>
        <if test="updateOne!=null"> update_one = #{updateOne}, </if>
        update_time = SYSDATE()
        WHERE id = #{id}
    </update>

    <update id="updateState" parameterType="ChangeStateModel">
        UPDATE t_resource
        SET state = #{state}
        WHERE id in
        <foreach separator="," index="index" item="item" collection="list" close=")" open="(">
            #{item}
        </foreach>
    </update>

    <select id="selectAll" parameterType="SearchModel" resultMap="resourceMap">
        SELECT id,name,title,state,type,address,note,create_time,time
        FROM t_resource
        WHERE is_delete = 0
        <if test="name!=null"> AND name LIKE #{name} OR note LIKE #{name} </if>
        <if test="startTime!=null"><![CDATA[ AND create_time > #{startTime}]]> </if>
        <if test="endTime!=null"><![CDATA[ AND create_time < #{endTime}]]> </if>
    </select>

    <select id="selectPublish" parameterType="PublishSearchModel" resultMap="resourceMap">
        SELECT id,name,title,state,type,address,note,create_time,time
        FROM t_resource
        WHERE is_delete = 0 AND state = 1
        <if test="name!=null"> AND name LIKE #{name} OR note LIKE #{name} </if>
        <if test="startTime!=null"><![CDATA[ AND create_time > #{startTime}]]> </if>
        <if test="endTime!=null"><![CDATA[ AND create_time < #{endTime}]]> </if>
        <if test="passIds!=null and passIds.size()>0">
          AND id NOT IN
          <foreach separator=","  item="item" collection="passIds" close=")" open="(">
            #{item}
          </foreach>
        </if>
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultMap="resourceMap">
        SELECT id,name,title,state,type,address,note,create_time,time
        FROM t_resource
        WHERE is_delete = 0 AND id = #{id}
    </select>

    <select id="selectResourceListByPackageId" parameterType="java.lang.Long" resultMap="resourceMap">
        SELECT ts.id ,ts.name ,ts.title ,ts.note ,ts.create_time ,ts.type ,ts.time ,ts.state
            FROM
            t_resource ts ,
            t_package_resource tpr
            WHERE
            tpr.p_id = #{id}
            AND tpr.r_id = ts.id
            AND ts.is_delete = 0
            AND ts.state = 1
        ORDER BY tpr.sorting ASC
    </select>

    <select id="selcectResourceByMachineId" parameterType="java.lang.Long" resultMap="resourceDisMap">
        SELECT t.id as record_id,
            r.name ,
            r.type ,
            r.address ,
            CASE
        WHEN r.time IS NULL THEN
            0
        ELSE
            r.time
        END AS time
        FROM
            (
                SELECT
                    dr.*
                FROM
                    t_distribution d ,
                    t_distribution_records dr
                WHERE
                    d.u_id = #{machineId}
                AND dr.f_id = d.id
                AND d.is_delete = 0
                AND d.state = 1
            ) t
        LEFT JOIN t_resource r ON t.r_id = r.id
        AND r.state = 1
        AND r.is_delete = 0
    </select>

    <update id="updateRecordById" parameterType="java.lang.Long">
          UPDATE t_distribution_records SET state = 1 WHERE id = #{recordId};
    </update>

    <resultMap type="com.gxq.model.ResourceModel" id="resourceMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="title" column="title"/>
        <result property="time" column="time"/>
        <result property="state" column="state"/>
        <result property="type" column="type"/>
        <result property="address" column="address"/>
        <result property="note" column="note"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.gxq.model.ResourceDisModel" id="resourceDisMap">
        <result property="recordId" column="record_id"/>
        <result property="name" column="name"/>
        <result property="time" column="time"/>
        <result property="type" column="type"/>
        <result property="address" column="address"/>
    </resultMap>

</mapper>