<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </Console>
        <!-- 按日期每天生成log文件 -->
        <RollingFile name="RollingFile" fileName="log/AD.log"
                     filePattern="log/AD-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>

            <!-- log文件只打印error级别信息 -->
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- 输出info级别信息 -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>

<!--<Configuration>-->
    <!--<Appenders>-->

        <!--<Console name="STDOUT" target="SYSTEM_OUT">-->
            <!--&lt;!&ndash; 输出格式 &ndash;&gt;-->
            <!--<PatternLayout pattern="[%l] [%t] [%-4r] [%d{yyyy-MM-dd HH:mm:ss,SSS}] [%p] \: %m%n"/>-->
        <!--</Console>-->
    <!--</Appenders>-->

    <!--<Loggers>-->

        <!--&lt;!&ndash; 配置记录器级别 &ndash;&gt;-->
        <!--<Root level="debug">-->
            <!--&lt;!&ndash; 输出设置 &ndash;&gt;-->
            <!--<AppenderRef ref="STDOUT"/>-->
        <!--</Root>-->

        <!--&lt;!&ndash; 将调用mybatis的dao的包填入此处即可 &ndash;&gt;-->

        <!--<logger name="com.gxq.mapper">-->
            <!--<level value="DEBUG" />-->
            <!--<AppenderRef ref="STDOUT" />-->
        <!--</logger>-->

    <!--</Loggers>-->
<!--</Configuration>-->

